img {
  width: 150px;
}

ul {
  list-style: none;
  display: flex;

  
}

a {
  text-decoration: none;
  color: #0060B6;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.links {
  gap: 40px;
  margin-left: 20px;

}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  background-color: #1f2937;
  padding-left: 35px;
  gap: 80px;
}

.logo {
  display: flex;
  margin-left: 20px;
  
}

.listen {
  background-color: #3882f6;
  color: white;
  padding: 10px 30px;
  border-radius: 6px;

}

.divide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 70px;
  background-color: #1f2937;
}

.main {
  
  margin-left: 230px;

}

.one {
  width: 400px;
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  
}

p {
  width: 400px;
  font-size: 18px;
  color: #e5e7eb;
  
}

.neon img {
  
  width: 500px;
  margin-right: 170px;

}

h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-bottom: 50px;

}

.info {
  max-width: 200px;
  
  text-align: center;
}

.info img {
  width: 200px;
}

.third {
  display: flex;
  justify-content: center;
}

.quote {
  width: 600px;
  font-size: 26px;
  color: #1f2937;
  font-style: italic;
}

.fourth {
  display: flex;
  justify-content: center;
 
  padding-left: 450px;
}

.author {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.container2 {
  background-color: #e5e7eb;
  padding: 100px;
}

.container3 {
  display: flex;
}

.action {
  display: flex;
  background-color: #3882f6;
}